################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API.FurnitureStore/.vs
/API.FurnitureStore/API.FurnitureStore.Models/obj/Debug/net6.0
/API.FurnitureStore/API.FurnitureStore.Models/obj
/API.FurnitureStore/API.FurnitureStore.API/obj/Debug/net6.0/API.FurnitureStore.API.AssemblyInfo.cs
/API.FurnitureStore/API.FurnitureStore.API/obj/Debug/net6.0/API.FurnitureStore.API.AssemblyInfoInputs.cache
/API.FurnitureStore/API.FurnitureStore.sln
/API.FurnitureStore/API.FurnitureStore.Data/obj/Debug/net6.0
/API.FurnitureStore/API.FurnitureStore.API/obj/Debug/net6.0/EndpointInfo/API.FurnitureStore.API.json
/API.FurnitureStore/API.FurnitureStore.API/obj/Debug/net6.0/ref/API.FurnitureStore.API.dll
/API.FurnitureStore/API.FurnitureStore.API/obj/Debug/net6.0/refint/API.FurnitureStore.API.dll
/API.FurnitureStore/API.FurnitureStore.API/obj/API.FurnitureStore.API.csproj.nuget.dgspec.json
/API.FurnitureStore/API.FurnitureStore.API/obj/project.assets.json
/API.FurnitureStore/API.FurnitureStore.API/obj/project.nuget.cache
/API.FurnitureStore/API.FurnitureStore.API/obj/Debug/net6.0/ApiEndpoints.json
/API.FurnitureStore/API.FurnitureStore.API/obj/Debug/net6.0/apphost.exe
/API.FurnitureStore/API.FurnitureStore.API/obj/Debug/net6.0/API.FurnitureStore.API.pdb
/API.FurnitureStore/API.FurnitureStore.API/obj/Debug/net6.0/API.FurnitureStore.API.sourcelink.json
/API.FurnitureStore/API.FurnitureStore.API/obj/Debug/net6.0/API.FurnitureStore.API.dll
/API.FurnitureStore/API.FurnitureStore.API/obj/Debug/net6.0/API.FurnitureStore.API.csproj.CoreCompileInputs.cache
/API.FurnitureStore/API.FurnitureStore.API/obj/Debug/net6.0/API.FurnitureStore.API.csproj.AssemblyReference.cache
/API.FurnitureStore/API.FurnitureStore.API/obj/Debug/net6.0/API.FurnitureStore.API.assets.cache
/API.FurnitureStore/API.FurnitureStore.API/obj/Debug/net6.0/API.FurnitureStore.API.csproj.FileListAbsolute.txt
/API.FurnitureStore/API.FurnitureStore.API/bin/Debug/net6.0/API.FurnitureStore.API.deps.json
/API.FurnitureStore/API.FurnitureStore.API/bin/Debug/net6.0/API.FurnitureStore.API.dll
/API.FurnitureStore/API.FurnitureStore.API/bin/Debug/net6.0/API.FurnitureStore.API.exe
/API.FurnitureStore/API.FurnitureStore.API/bin/Debug/net6.0/API.FurnitureStore.API.pdb
/API.FurnitureStore/API.FurnitureStore.API/bin/Debug/net6.0/API.FurnitureStore.Data.dll
/API.FurnitureStore/API.FurnitureStore.API/bin/Debug/net6.0/API.FurnitureStore.Data.pdb
/API.FurnitureStore/API.FurnitureStore.API/bin/Debug/net6.0/API.FurnitureStore.Models.pdb
/API.FurnitureStore/API.FurnitureStore.API/bin/Debug/net6.0/API.FurnitureStore.Models.dll
/API.FurnitureStore/API.FurnitureStore.API/bin/Debug/net6.0/API.FurnitureStore.Services.dll
/API.FurnitureStore/API.FurnitureStore.API/bin/Debug/net6.0/API.FurnitureStore.Services.pdb
/API.FurnitureStore/API.FurnitureStore.Data/bin/Debug/net6.0/API.FurnitureStore.Data.dll
/API.FurnitureStore/API.FurnitureStore.Data/bin/Debug/net6.0/API.FurnitureStore.Data.pdb
/API.FurnitureStore/API.FurnitureStore.Data/bin/Debug/net6.0/API.FurnitureStore.Models.dll
/API.FurnitureStore/API.FurnitureStore.Data/bin/Debug/net6.0/API.FurnitureStore.Models.pdb
/API.FurnitureStore/API.FurnitureStore.Models/bin/Debug/net6.0/API.FurnitureStore.Models.dll
/API.FurnitureStore/API.FurnitureStore.Models/bin/Debug/net6.0/API.FurnitureStore.Models.pdb
/API.FurnitureStore/ClassLibrary1/obj/Debug/net6.0
/API.FurnitureStore/ClassLibrary1/obj
/API.FurnitureStore/ClassLibrary1/bin/Debug/net6.0
/API.FurnitureStore/API.FurnitureStore.Services/bin/Debug/net6.0
/API.FurnitureStore/API.FurnitureStore.Services/obj
